.file {
	&__icon {
		fill: var(--dark);
		@include transition(var(--0-3s));
	}

	&__text {
		font-size: px-to-rem(15);
		font-weight: 600;
		line-height: normal;
		text-transform: uppercase;
		color: var(--dark);
		@include transition(var(--0-3s));
	}

	&__custom {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--white);
		padding: px-to-rem(12);
		gap: px-to-rem(10);
		border: px-to-rem(2) solid var(--content-blue);
		border-radius: px-to-rem(3);
		-webkit-border-radius: px-to-rem(3);
		-moz-border-radius: px-to-rem(3);
		-ms-border-radius: px-to-rem(3);
		-o-border-radius: px-to-rem(3);
		@include transition(var(--0-3s));

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				background-color: var(--dark);

				.file__icon {
					fill: var(--white);
				}

				.file__text {
					color: var(--white);
				}
			}
		}
	}

	&__input {
		display: none;
	}
}
