.range {
	display: flex;
	flex-direction: column;
	gap: clamp(px-to-rem(10), 3vw, px-to-rem(22));
	width: 100%;

	&__head {
		display: flex;
		justify-content: space-between;
		gap: px-to-rem(10);
	}

	&__title {
		font-size: clamp(px-to-rem(14), 3vw, px-to-rem(18));
		font-weight: 400;
		line-height: normal;
		color: var(--white);
	}

	&__output {
		font-size: clamp(px-to-rem(14), 3vw, px-to-rem(18));
		font-weight: 600;
		line-height: normal;
		color: var(--range-output-text);
	}

	&__input {
		-webkit-appearance: none;
		width: 100%;
		background-color: transparent;

		&::-webkit-slider-runnable-track {
			width: 100%;
			height: px-to-rem(6);
			cursor: pointer;
			box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
			background: var(--input-background);
			border: px-to-rem(1) solid var(--white);
			border-radius: px-to-rem(10);
			-webkit-border-radius: px-to-rem(10);
			-moz-border-radius: px-to-rem(10);
			-ms-border-radius: px-to-rem(10);
			-o-border-radius: px-to-rem(10);
		}
		&::-webkit-slider-thumb {
			box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
			border: px-to-rem(3) solid var(--dark-blue);
			width: px-to-rem(24);
			height: px-to-rem(24);
			background: var(--range-blue);
			cursor: grab;
			-webkit-appearance: none;
			margin-top: px-to-rem(-10);
			border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
		}
		&:focus::-webkit-slider-runnable-track {
			background: var(--input-background);
		}
		&::-moz-range-track {
			width: 100%;
			height: px-to-rem(6);
			cursor: pointer;
			animate: 0.2s;
			box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
			background: var(--input-background);
			border: px-to-rem(1) solid var(--white);
			border-radius: px-to-rem(10);
			-webkit-border-radius: px-to-rem(10);
			-moz-border-radius: px-to-rem(10);
			-ms-border-radius: px-to-rem(10);
			-o-border-radius: px-to-rem(10);
		}
		&::-moz-range-thumb {
			box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
			border: px-to-rem(3) solid var(--dark-blue);
			height: px-to-rem(24);
			width: px-to-rem(24);
			background: var(--range-blue);
			cursor: grab;
			border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
		}
	}
}
