/*Raleway*/
@font-face {
	font-family: "Raleway";
	src: url("../../fonts/Raleway-ExtraBold.woff2");
	src: local("../../fonts/Raleway ExtraBold"),
		local("../../fonts/Raleway-ExtraBold"),
		url("../../fonts/Raleway-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
/*Raleway*/

/*Lato*/
@font-face {
	font-family: "Lato";
	src: url("../../fonts/Lato-Bold.woff2");
	src: local("../../fonts/Lato Bold"), local("../../fonts/Lato-Bold"),
		url("../../fonts/Lato-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("../../fonts/Lato-Semibold.woff2");
	src: local("../../fonts/Lato Semibold"), local("../../fonts/Lato-Semibold"),
		url("../../fonts/Lato-Semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("../../fonts/Lato-Regular.woff2");
	src: local("../../fonts/Lato Regular"), local("../../fonts/Lato-Regular"),
		url("../../fonts/Lato-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/*Lato*/
