@use "sass:math";
//Стандартный transition
@mixin transition($delay: 0.3s) {
	transition: $delay cubic-bezier(0.25, 0.1, 0.25, 1);
	-webkit-transition: $delay cubic-bezier(0.25, 0.1, 0.25, 1);
	-moz-transition: $delay cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: $delay cubic-bezier(0.25, 0.1, 0.25, 1);
	-ms-transition: $delay cubic-bezier(0.25, 0.1, 0.25, 1);
}
// анимация скрытия обязательно указать z-index
@mixin hidden($delay: 0.3s) {
	opacity: 0;
	visibility: hidden;
	transition: opacity $delay, z-index $delay, visibility $delay linear $delay;
	-webkit-transition: opacity $delay, z-index $delay,
		visibility $delay linear $delay;
	-o-transition: opacity $delay, z-index $delay, visibility $delay linear $delay;
}
// анимация открытия обязательно указать z-index
@mixin active($delay: 0s) {
	opacity: 1;
	visibility: visible;
	-webkit-transition-delay: $delay;
	-o-transition-delay: $delay;
	transition-delay: $delay;
}

//Перевод пикселей в rem
@function px-to-rem($px, $context: 16) {
	@return math.div($px, $context) * 1rem;
}
//Перевод пикслей в проценты
@function px-to-per($lh, $fs: 16) {
	@return math.div($lh, $fs) * 100%;
}
