*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
	line-height: 100%;
}

html,
body {
	scrollbar-gutter: stable;
}

body {
	font-family: var(--primary-font);
	font-style: normal;
	width: 100%;
	min-height: 100dvh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header,
footer,
section,
nav,
main,
aside,
div,
address {
	display: block;
}

main.main {
	min-height: -webkit-calc(
		100dvh - (var(--header-height) + var(--footer-height))
	);
	min-height: calc(100dvh - (var(--header-height) + var(--footer-height)));
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
address,
div,
a {
	overflow-wrap: break-word;
	hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
}

ul,
ol {
	list-style: none;
}

a:not([class]),
a:link,
a:visited {
	text-decoration: none;
	text-decoration-skip-ink: auto;
}

audio,
video,
picture,
img,
svg {
	max-width: 100%;
	display: block;
	height: auto;
}

img {
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -o-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
	border-style: none;
	-ms-interpolation-mode: bicubic;
}

svg {
	shape-rendering: geometricPrecision;
}

dialog {
	border: none;
	outline: none;
}

address {
	font-style: normal;
}

fieldset {
	border: none;
	outline: none;
}

input,
button,
textarea,
select {
	font: inherit;
	display: block;
	width: 100%;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 100%;
	display: block;

	&[disabled] {
		cursor: not-allowed;
		opacity: 0.3;
	}
}

label {
	cursor: pointer;
	width: 100%;
	display: block;
}

legend {
	display: block;
}

input::placeholder {
	opacity: 1;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input:focus,
button:focus,
input:active,
button:active {
	outline: none;
}
