:root {
	/*colors*/
	--white: hsla(0, 0%, 100%, 1);
	--black: hsla(0, 0%, 0%, 1);
	--grey: hsla(0, 0%, 73%, 1);
	--header: hsla(240, 29%, 9%, 0.9);
	--footer: hsla(231, 13%, 28%, 1);
	--dark: hsla(240, 13%, 18%, 1);
	--button-secondary-text: hsla(230, 7%, 18%, 1);
	--button-secondary-border: hsla(249, 6%, 45%, 1);
	--input-background: hsla(0, 0%, 100%, 0.851);
	--input-invalid: hsla(0, 96%, 33%, 1);
	--header-blue: hsla(204, 85%, 60%, 1);
	--content-blue: hsla(204, 69%, 55%, 1);
	--dark-blue: hsla(204, 57%, 36%, 1);
	--range-blue: hsla(204, 83%, 59%, 1);
	--range-output-text: hsla(0, 0%, 100%, 0.85);
	--footer-grey-text: hsla(0, 0%, 76%, 1);
	/*colors*/

	/*fonts*/
	--primary-font: "Lato", sans-serif;
	--secondary-font: "Raleway", sans-serif;
	/*fonts*/

	/*delays*/
	--0s: 0s;
	--0-3s: 0.3s;
	/*delays*/
}
