.header {
	margin-block-end: calc(var(--header-height) * -1);
	background-color: var(--header);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 3;
	&__container {
		padding-block-start: clamp(px-to-rem(15), 3vw, px-to-rem(33.5));
		padding-block-end: clamp(px-to-rem(15), 3vw, px-to-rem(31.5));
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		color: var(--white);
	}

	&__menu {
		@media (max-width: $mobile) {
			position: absolute;
			z-index: -1;
			top: 100%;
			left: 0;
			background-color: var(--header);
			width: 100%;
			@include hidden(var(--0-3s));

			&--active {
				z-index: 2;
				height: 100vh;
				@include active(var(--0s));
			}
		}
	}

	&__burger {
		display: none;
		width: 30px;
		height: 18px;

		@media (max-width: $mobile) {
			display: block;
		}
	}
}
