.order {
	background-color: var(--dark);
	position: relative;
	overflow: hidden;

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	&__container {
		padding-block-start: clamp(px-to-rem(30), 10vw, px-to-rem(121));
		padding-block-end: clamp(px-to-rem(30), 10vw, px-to-rem(150.19));
	}

	&__content {
		position: relative;
		z-index: 2;
	}

	&__title {
		text-align: center;
		color: var(--white);
	}

	&__subtitle {
		margin-block-start: clamp(px-to-rem(10), 2.5vw, px-to-rem(30));
		text-align: center;
		color: var(--grey);
	}

	&__benefits {
		margin-block-start: clamp(px-to-rem(20), 5vw, px-to-rem(87));
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: px-to-rem(40);
		}
	}

	&__benefit {
		flex: 0 0 18%;
		position: relative;

		@media (max-width: $mobile) {
			flex: unset;
		}
	}

	&__form {
		margin-block-start: clamp(px-to-rem(20), 5vw, px-to-rem(91));
	}

	&__dots {
		display: flex;
		align-items: center;
		gap: px-to-rem(130);
		position: absolute;
		top: 34%;
		left: 14.5%;

		@media (max-width: $desktop) {
			display: none;
		}
	}

	&__dot-block {
		display: flex;
		align-items: center;
		gap: px-to-rem(20);
	}

	&__dot {
		width: px-to-rem(6);
		height: px-to-rem(6);
		background-color: var(--grey);
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
	}
}
